.HomeBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
}
.Box1 {
  width: 1100px;
  max-width: 100%;
}
.textFields {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.Box2 {
  width: 1100px;
  max-width: 100%;
}
